
.first{
	margin-top: 96px;
}

.second{
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.third{
	color: white;
	opacity: 0.9;
	font-size: 1.125rem;
	line-height: 1.75rem;
	font-weight: 500;
	margin-right: 20px;
}